@import '../../variables/variables';

.agency-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  .agency-service-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    font-family: 'Poppins', system-ui, sans-serif;

    &:before {
      content: "";
      display: block;
      height: 2px;
      width: 330px;
      background-color: $button-color;
      margin: 10px auto 60px;
    }
  }

  .agency-service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1200px;

    .service-list {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;

      .service-item {
        border-bottom: 1px solid #e0e0e0;
        padding: 15px 0;
        background: $text-color;
        

        &.active {
          background: #EDEDED;
        }

        .service-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          margin-inline: 12px;

          .service-title {
            font-size: 18px;
            font-weight: 500;
            font-family: 'Poppins', system-ui, sans-serif;

            &.active {
              color: #1c73a8;
            }
          }

          .arrow {
            width: 20px;
            height: 20px;
          }
        }

        .service-description {
          margin-top: 10px;
          padding: 10px;
          font-size: 16px;
          color: #000000;
          font-weight: 400;
        }
      }
    }

    .service-image {
      flex: 1 1 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      order: 1; // Default order

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
//Responsiveness
  @media (max-width: 768px) {
    .agency-service-container {
      flex-direction: column;

      .service-image {
        order: -1; 
        margin-bottom: 20px; 
      }

      .service-list {
        flex: 1 1 100%;

        .service-item {
          &.active {
            .service-image {
              display: block; 
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .agency-service-container {
      .service-image {
        order: -1;
        margin-bottom: 15px; 
      }
    }
  }
}
