.services {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #fff;
  
    .content {
      max-width: auto;
      margin: 0 auto;
    }
  
    .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: #000;
    }
  
    .description {
      font-size: 1rem;
      color: #666;
      margin-bottom: 2rem;
      line-height: 1.5;
      max-width: 50%;
      justify-content: center;
      text-align: center;
    }
  
    .items {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
  
    .item {
      flex: 1 1 calc(25% - 1rem);
      max-width: 25%;
      text-align: center;
      padding: rem;
      transition: transform 0.3s, box-shadow 0.3s;
  
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      }
  
      .icon {
        max-width: 60px;
        margin-bottom: 1rem;
      }
  
      .item-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #000;
      }
  
      .item-description {
        font-size: 0.9rem;
        color: #666;
      }
    }
  
    .button {
      display: inline-block;
      background-color: #00aaff;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.75rem 2rem;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #0077cc;
      }
    }
  }
  